<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sidebar</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <aside class="bg-blue-800 text-white w-full md:w-64 h-full">
      <div class="p-4">
        <h1 class="text-2xl font-bold text-center md:text-left">
          <i class="fas fa-graduation-cap mr-2"></i>EduManage
        </h1>
      </div>
      <nav class="mt-6">
        <a
          href="../index.html"
          class="block px-4 py-2 hover:bg-blue-700 cursor-pointer active-nav-item"
        >
          <i class="fas fa-tachometer-alt mr-2"></i>Dashboard
        </a>
        <a
          href="../pages/students.html"
          class="block px-4 py-2 hover:bg-blue-700 cursor-pointer"
        >
          <i class="fas fa-users mr-2"></i>Students
        </a>
        <a
          href="../pages/teachers.html"
          class="block px-4 py-2 hover:bg-blue-700 cursor-pointer"
        >
          <i class="fas fa-chalkboard-teacher mr-2"></i>Teachers
        </a>
        <a
          href="../pages/classes.html"
          class="block px-4 py-2 hover:bg-blue-700 cursor-pointer"
        >
          <i class="fas fa-door-open mr-2"></i>Classes
        </a>
        <a
          href="../pages/attendance.html"
          class="block px-4 py-2 hover:bg-blue-700 cursor-pointer"
        >
          <i class="fas fa-clipboard-check mr-2"></i>Attendance
        </a>
        <a
          href="../pages/subjects.html"
          class="block px-4 py-2 hover:bg-blue-700 cursor-pointer"
        >
          <i class="fas fa-clipboard-check mr-2"></i>Subjects
        </a>
      </nav>
    </aside>
  </body>
</html>
